In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp312-cp312-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   -- ------------------------------------- 0.8/11.0 MB 3.7 MB/s eta 0:00:03
   ----- ---------------------------------- 1.6/11.0 MB 4.2 MB/s eta 0:00:03
   -------- ------------------------------- 2.4/11.0 MB 4.2 MB/s eta 0:00:03
   ----------- ---------------------------- 3.1/11.0 MB 4.1 MB/s eta 0:00:02
   ------------- -------------------------- 3.7/11.0 MB 3.5 MB/s eta 0:00:03
   -------------- ------------------------- 3.9/11.0 MB 3.1 MB/s eta 0:00:03
   ------------------ --------------------- 5.0/11.0 MB 3.3 MB/s eta 0:00:02
   --------------------- ------------------ 6.0/11.0 MB 3.5 MB/s eta 0:00:02
   ------------------------- -------------- 7.1/11.0 MB 3.7 MB/s eta 0:00:02
   ------------------------------ --------- 8.4/11.0 MB 4.0 MB/s eta 0:00:01
   ----------------------------------- ---- 9.7/11.0 MB 4.1 MB/s eta 0:00:01
   ---------------------------------------  10.7/11.0 MB 4.2 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 4.2 MB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.3.3 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.3.3
2.3.4

In [3]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

   A  B  C  D  E
0  9  2  6  8  9
1  2  7  3  8  5
2  1  5  2  3  9
3  2  7  7  1  2
4  2  1  2  1  6

In [4]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

In [5]:
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        9        2        6        8        9
1        2        7        3        8        5
2        1        5        2        3        9
3        2        7        7        1        2
4        2        1        2        1        6

In [6]:

df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        9        2        6        8        9
1        2        7        3        8        5
2        1        5        2        3        9
3        2        7        7        1        2
4        2        1        2        1        6