In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.3.3
2.3.4

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0   6   5   7   1   3
1   5   9  19  10   5
2  16  18   7  13  13
3  13   4  10  10   6
4  13  11   3  18   5
5   9  13   7   4   2
6  13  18  11  15  11
7  16  16   1  15  13
8  19  19   8  12  15
9   9   7   7   4   3

In [3]:
df.loc[[0,3,4], ['B','E']]

    B  E
0   5  3
3   4  6
4  11  5

In [4]:
df.loc[df['B']>10, ['B','D','E']]

    B   D   E
2  18  13  13
4  11  18   5
5  13   4   2
6  18  15  11
7  16  15  13
8  19  12  15

In [5]:
df.loc[0:4, 'B':'D']

    B   C   D
0   5   7   1
1   9  19  10
2  18   7  13
3   4  10  10
4  11   3  18