In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.3.3
2.3.4

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                columns=cols)
df

   A  B  C  D  E
0  6  9  9  9  8
1  5  2  9  5  5
2  7  3  7  8  8
3  8  2  9  1  2
4  5  9  9  3  1
5  1  4  2  1  3
6  9  3  4  9  3
7  9  4  9  8  9
8  9  7  3  2  9
9  3  2  2  8  1

In [3]:
(df['A'] < 5).sum()

np.int64(2)

In [4]:
(df['A'] < 5).mean()

np.float64(0.2)